/* General */

body, html {
    color: white;
    background-color: rgb(32, 32, 32);
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input{
    margin: 5px;
}

/* Main */

.container{
    height: 500px;
    width: 500px;
    background-color: rgb(77, 77, 77);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.main-div h1{
    text-align: center;
    font-weight: 600;
    padding-top: 20px;
}

.main-div p{
    text-align: center;
}

.options-pass{
    padding: 0px 5%;
}

table{
    margin-bottom: 20px;
}

.range-slider{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#myRange{
    width: 100%;
}

output{
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 5px;
    border-radius: 5px;
    margin-left: 5px;
}

.btn-range {
    flex: 0 0 auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    font-size: 24px;
    cursor: pointer;
    margin: 0 10px;
    border: 2px solid rgb(71, 71, 71);
}

.password-field{
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#password{
    border-radius: 5px;
    border-style: none;
    height: 30px;
    width: 70%;
}

#password:focus{
    outline: none;
}

#password:hover{
    cursor: default;
}

.copy-btn{
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 30px;
}

.copy-btn:hover{
    background-color: rgb(199, 199, 199);
}
