/* General */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    color: white;
    background-color: rgb(32, 32, 32);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Main */

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 600px;
    min-width: 500px;
}

.content{
    padding: 20px;
    background-color: rgb(77, 77, 77);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Title */

.title h1{
    text-align: center;
    font-weight: 600;
    margin: 0;
}

.title p{
    text-align: center;
}

/* Options */

.options-pass{
    padding: 0px 0px 20px 0px;
    display: grid;
    gap: 5px;
}

.options-title{
    grid-column: 1 / 3;
    font-size: 0.7em;
    background-color: rgb(82 82 82);
    padding: 5px;
    border-radius: 5px;
}

.option-label {
    grid-column: 1;
}

.option-check {
    grid-column: 2;
}

/* Range and Output */

output{
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 5px;
    border-radius: 5px;
    margin-left: 5px;
}

input{
    margin: 5px;
}

.range-slider{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#myRange{
    width: 100%;
}

.btn-range {
    flex: 0 0 auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    font-size: 24px;
    cursor: pointer;
    margin: 0 10px;
    border: 2px solid rgb(71, 71, 71);
}

.btn-range:disabled {
    cursor: default;
}

/* Password Field and Buttons */

.password-field{
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#password{
    border-radius: 5px;
    border-style: none;
    height: 30px;
    width: 70%;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

#password:focus{
    outline: none;
}

#password:hover{
    cursor: default;
}

#btnCopyPass{
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 32px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

#btnCopyPass:hover{
    background-color: rgb(199, 199, 199);
}

#btnRefresh{
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 32px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

#btnRefresh:hover{
    background-color: rgb(199, 199, 199);
}

/* Score under passworld field */

.scoreDiv{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

#myScore{
    padding: 8px;
    border-radius: 5px;
}

#scoreDescription{
    font-size: 0.8em;
    background-color: rgb(31 31 31);
    padding: 8px;
    border-radius: 5px;
}